body{
    background-image: url("https://images.pexels.com/photos/816608/pexels-photo-816608.jpeg?auto=compress&cs=tinysrgb&w=600https://www.pexels.com/es-es/foto/foto-de-objeto-de-cielo-profundo-816608/");
    background-size: cover;
    color: antiquewhite;
}